* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  padding: 64px;
}

img {
  display: block;
  max-width: 100%;
}

.h1 {
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
  line-height: 116%;
}

.h2 {
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
  line-height: 120%;
}

.h3 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 116%;
}

.h4 {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 123%;
}

.h5 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
}

.h6 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 160%;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 175%;
}

.subtitle2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 157%;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 150%;
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 143%;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 166%;
}

.overline {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 266%;
  text-transform: uppercase;
}

.button {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);
}
.button__back {
  border-radius: 100px;
  margin: 50px auto 0px 32px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.12);
}
.button__back:hover {
  transform: scale(1);
  animation: anim 1s linear both;
}
.button__back-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 0.58;
  text-transform: uppercase;
  margin-right: 16px;
}
.button__back-icon {
  fill: rgb(255, 255, 255);
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 16px;
}
.button__decrement, .button__increment {
  height: 42px;
  width: 59px;
  border-radius: 4px;
}
.button__disabled {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);
}
.button__clear {
  margin-top: 20px;
}
.button__login {
  margin-top: 16px;
  padding: 8px 0px;
}
@media (max-width: 678px) {
  .button__login {
    width: 90%;
  }
}
@media (min-width: 678px) {
  .button__login {
    padding: 8px 272px;
  }
}
.button__widget {
  margin-top: 40px;
  padding: 8px 22px;
  cursor: pointer;
}

@keyframes anim {
  100% {
    transform: scale(1.2);
  }
}
.task__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(229, 246, 253);
}

.header__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
  width: 960px;
  margin: 20px auto 0px 32px;
  padding: 16px 0px 16px 0px;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 30px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform var(250ms) var(cubic-bezier(0.4, 0, 0.2, 1));
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}/*# sourceMappingURL=11-gallery.css.map */