@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  padding: 64px;
}

img {
  display: block;
  max-width: 100%;
}

.alert__info {
  display: flex;
  background-color: rgb(229, 246, 253);
}
.alert__info-icon {
  width: auto;
  height: auto;
  margin: 14px 12px 41px 16px;
}

.alert__info-text {
  margin: 6px 0px;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
  line-height: 116%;
}

.h2 {
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
  line-height: 120%;
}

.h3 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 116%;
}

.h4 {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 123%;
}

.h5 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
}

.h6 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 160%;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 175%;
}

.subtitle2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 157%;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 150%;
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 143%;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 166%;
}

.overline {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 266%;
  text-transform: uppercase;
}

.button__back {
  background-color: rgb(33, 150, 243);
  border-radius: 100px;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);
}

.button__back-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 0.58;
  text-transform: uppercase;
  margin-right: 16px;
}

.button__back-icon {
  fill: rgb(255, 255, 255);
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 16px;
}

.task__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(229, 246, 253);
}

.button__back {
  margin: 50px auto 0px 32px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.12);
}

.header__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
  width: 960px;
  margin: 20px auto 0px 32px;
  padding: 16px 0px 16px 0px;
}

.action-button {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);
}
.action-button__decrement, .action-button__increment {
  height: 42px;
  width: 59px;
}

.container-task {
  position: relative;
}

.input-condition {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  background: none;
  padding: 16px 12px;
  font-size: 16px;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-condition:hover {
  border: 1px solid rgb(33, 150, 243);
}

.user-label {
  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  transform: translateY(-33px) translateX(-55px);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-condition:focus {
  outline: none;
  border: 2px solid rgb(33, 150, 243);
}

.action-button {
  margin-top: 16px;
  padding: 8px 0px;
  width: 90%;
}
@media (min-width: 678px) {
  .action-button {
    padding: 8px 272px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
@media (max-width: 678px) {
  .login-form {
    padding: 0px 10px;
  }
}

.default-input {
  width: 90%;
}
@media (min-width: 678px) {
  .default-input {
    width: 580px;
  }
}

.login-form__title {
  font-size: 34px;
}

.input-condition__password:-moz-placeholder-shown + .user-label__password {
  transform: translateY(-34px) translateX(-240px);
}

.input-condition__password:placeholder-shown + .user-label__password {
  transform: translateY(-34px) translateX(-240px);
}
@media (max-width: 636px) {
  .input-condition__password:-moz-placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-200px);
  }
  .input-condition__password:placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-200px);
  }
}
@media (max-width: 546px) {
  .input-condition__password:-moz-placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-160px);
  }
  .input-condition__password:placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-160px);
  }
}
@media (max-width: 463px) {
  .input-condition__password:-moz-placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-130px);
  }
  .input-condition__password:placeholder-shown + .user-label__password {
    transform: translateY(-34px) translateX(-130px);
  }
}

.input-condition__password:not(:-moz-placeholder-shown) + .user-label__password {
  transform: translateY(-60px) translateX(-240px) scale(1);
  background-color: white;
  padding: 0 0.2em;
  color: rgb(33, 150, 243);
}

.input-condition__password:focus + .user-label__password, .input-condition__password:not(:placeholder-shown) + .user-label__password, и .input-condition__password:valid + .user-label__password {
  transform: translateY(-60px) translateX(-240px) scale(1);
  background-color: white;
  padding: 0 0.2em;
  color: rgb(33, 150, 243);
}
@media (max-width: 636px) {
  .input-condition__password:not(:-moz-placeholder-shown) + .user-label__password {
    transform: translateY(-60px) translateX(-200px);
  }
  .input-condition__password:focus + .user-label__password, .input-condition__password:not(:placeholder-shown) + .user-label__password, и .input-condition__password:valid + .user-label__password {
    transform: translateY(-60px) translateX(-200px);
  }
}
@media (max-width: 546px) {
  .input-condition__password:not(:-moz-placeholder-shown) + .user-label__password {
    transform: translateY(-60px) translateX(-160px);
  }
  .input-condition__password:focus + .user-label__password, .input-condition__password:not(:placeholder-shown) + .user-label__password, и .input-condition__password:valid + .user-label__password {
    transform: translateY(-60px) translateX(-160px);
  }
}
@media (max-width: 463px) {
  .input-condition__password:not(:-moz-placeholder-shown) + .user-label__password {
    transform: translateY(-60px) translateX(-130px);
  }
  .input-condition__password:focus + .user-label__password, .input-condition__password:not(:placeholder-shown) + .user-label__password, и .input-condition__password:valid + .user-label__password {
    transform: translateY(-60px) translateX(-130px);
  }
}

.input-condition__email {
  margin-top: 20px;
}

.input-condition__email:-moz-placeholder-shown + .user-label__email {
  transform: translateY(-33px) translateX(-253px);
}

.input-condition__email:placeholder-shown + .user-label__email {
  transform: translateY(-33px) translateX(-253px);
}
@media (max-width: 636px) {
  .input-condition__email:-moz-placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-213px);
  }
  .input-condition__email:placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-213px);
  }
}
@media (max-width: 546px) {
  .input-condition__email:-moz-placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-173px);
  }
  .input-condition__email:placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-173px);
  }
}
@media (max-width: 463px) {
  .input-condition__email:-moz-placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-143px);
  }
  .input-condition__email:placeholder-shown + .user-label__email {
    transform: translateY(-34px) translateX(-143px);
  }
}

.input-condition__email:not(:-moz-placeholder-shown) + .user-label__email {
  transform: translateY(-60px) translateX(-253px) scale(1);
  background-color: white;
  padding: 0 0.2em;
  color: rgb(33, 150, 243);
}

.input-condition__email:focus + .user-label__email, .input-condition__email:not(:placeholder-shown) + .user-label__email, и .input-condition__email:valid + .user-label__email {
  transform: translateY(-60px) translateX(-253px) scale(1);
  background-color: white;
  padding: 0 0.2em;
  color: rgb(33, 150, 243);
}
@media (max-width: 636px) {
  .input-condition__email:not(:-moz-placeholder-shown) + .user-label__email {
    transform: translateY(-60px) translateX(-213px);
  }
  .input-condition__email:focus + .user-label__email, .input-condition__email:not(:placeholder-shown) + .user-label__email, и .input-condition__email:valid + .user-label__email {
    transform: translateY(-60px) translateX(-213px);
  }
}
@media (max-width: 546px) {
  .input-condition__email:not(:-moz-placeholder-shown) + .user-label__email {
    transform: translateY(-60px) translateX(-173px);
  }
  .input-condition__email:focus + .user-label__email, .input-condition__email:not(:placeholder-shown) + .user-label__email, и .input-condition__email:valid + .user-label__email {
    transform: translateY(-60px) translateX(-173px);
  }
}
@media (max-width: 463px) {
  .input-condition__email:not(:-moz-placeholder-shown) + .user-label__email {
    transform: translateY(-60px) translateX(-143px);
  }
  .input-condition__email:focus + .user-label__email, .input-condition__email:not(:placeholder-shown) + .user-label__email, и .input-condition__email:valid + .user-label__email {
    transform: translateY(-60px) translateX(-143px);
  }
}/*# sourceMappingURL=task8.css.map */