* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  padding: 64px;
}

img {
  display: block;
  max-width: 100%;
}

.alert__info {
  display: flex;
  background-color: rgb(229, 246, 253);
}
.alert__info-icon {
  width: auto;
  height: auto;
  margin: 14px 12px 41px 16px;
}

.alert__info-text {
  margin: 6px 0px;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
  line-height: 116%;
}

.h2 {
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
  line-height: 120%;
}

.h3 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 116%;
}

.h4 {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 123%;
}

.h5 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
}

.h6 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 160%;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 175%;
}

.subtitle2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 157%;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 150%;
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 143%;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 166%;
}

.overline {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 266%;
  text-transform: uppercase;
}

.button__back {
  background-color: rgb(33, 150, 243);
  border-radius: 100px;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);
}

.button__back-link {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 0.58;
  text-transform: uppercase;
  margin-right: 16px;
}

.button__back-icon {
  fill: rgb(255, 255, 255);
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px 8px 8px 16px;
}

.task__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(229, 246, 253);
}

.button__back {
  margin: 50px auto 0px 32px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.12);
}

.header__title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 133%;
  width: 960px;
  margin: 20px auto 0px 32px;
  padding: 16px 0px 16px 0px;
}

.container__task1 {
  margin: 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.alert__info {
  display: flex;
  align-items: center;
  background-color: rgb(229, 246, 253);
  width: 260px;
  height: 47px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
}
.alert__info-icon {
  width: 24px;
  height: 24px;
  margin: 14px 12px 14px 18px;
}

.info__title {
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 150%;
}/*# sourceMappingURL=task2.css.map */