.action-button{
    background-color:$button-color;
    color:$button-text-color;
    border-radius: 4px;

    font-size: $fs-15;
    font-weight: $fw-500;

    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);;

    &__decrement, &__increment{
    height: 42px;
    width: 59px;
    }
}