.button__back{
    background-color: $button-color;
    border-radius: 100px;
    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);;
}
.button__back-link{
    display: flex;
    align-items: center;

    color: $button-text-color;
    font-weight: $fw-500;
    letter-spacing: 0.4px;
    line-height: 0.58;
    text-transform: uppercase;

    margin-right: 16px;
}
.button__back-icon{
    fill: $button-text-color;
    display: block;
    width: 24px;
    height: 24px;
    margin: 8px 8px 8px 16px;
}