.disabled-button{
    background-color:$typography-library-bg;
    color:$main-text-color;
    border-radius: 4px;

    // Только для 4го таска
    border-right: 2px solid $button-color;
    border-left: 2px solid $button-color;

    font-size: $fs-15;
    font-weight: $fw-500;

    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.08);;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.08);;
}