@import '../components/alert-info';
@import '../components/text-options';
@import '../components/buttons';

@import '../components/task-header';

.gallery{
    display: flex;
    gap: 20px;
    @media(max-width: 768px){
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    @media(min-width: 768px){
        margin: 20px 0px 0px 32px;
    }
}

li{
    list-style-type: none;
}