@import '../components/alert-info';
@import '../components/text-options';
@import '../components/buttons';

@import '../components/task-header';
// 
@import '../components/input-condition';

.valid {
    border-color: #4caf50;
}
.invalid {
    border-color: #f44336;
} 
.valid-label{
    color:#4caf50;
}
.invalid-label{
    color:#f44336;
}
 
.container-task{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 24px 0px 0px 32px;
    position: relative;
}

.user-label {
    transform: translateY(-33px) translateX(15px);
}

.input-condition:focus ~ label, input:valid ~ label {
    transform: translateY(-60px) translateX(15px) scale(1);
    background-color: white;
    padding: 0 .2em;
}
.input-condition:focus ~ label{
    color: $button-color;
}



