@import '../components/alert-info';
@import '../components/text-options';
@import '../components/buttons';

@import '../components/task-header';
// 
@import '../components/input-condition';
@import '../components/action-button';

.main-container{
    margin: 30px 0 0 131px;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}
.registration-conteiner, .login-container{
    display: flex;
}
.container__title{
    width: 420px;
    margin-right: 48px;
}
.container__title-el{
    font-size: $fs-34;
}

.registration-form__container, .login-form__container{
    width: 584px;
}
.registration-form__header{
    font-size: $fs-24;
    padding: 16px 0;
    &:not(:first-child){
        margin-top: 32px;
    }
}
.registration-form__name, .registration-form__contacts{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}
.registration-form__input-container{
    position: relative;
}
.input-default, .select-default{
    padding: 16px 12px;
    border: 1px solid $input-color;
    border-radius: 4px;
    width: 100%;
}
.input-default__text{
    position: absolute;
    left: 12px;
    top: 16px;
    pointer-events: none;
    color: #00000099;
    padding: 2px 4px;
    transition: top .3s, color .3s;
}

// Кнопка
.action-button{
    padding: 6px 16px;
    font-weight: $fw-500;
    margin-top: 24px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

// Инпут комент
.input-comment__input-container{
    position: relative;
    margin: 30px 0px 0px 358px;
    width: 600px;
}

// Форма логина
.login-container{
    margin-top: 36px;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
    // Настройка чекбокса
.registration-form__checkbox-container{
    display: flex;
    align-items:center;
}
.checkbox-default{
    width: 18px;
    height: 18px;
    margin:0 12px;
}
.checkbox__text{
    font-size: $fs-16;
    line-height: 24px;
    letter-spacing: 0.15px;
}

// Настройка инпутов 
.input-default:hover, select:hover{
    border-color: $button-color;
}

.input-default:focus, select:hover{
    border: 2px solid $button-color;
}
.input-default:focus + label, select:focus + label{
    top:-7px;
    color: $button-color;
    background-color: white;
}

.input-default:valid + label, select:valid + label{
    top:-7px;
    background-color: white;
}

.input-default:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

.input-default:not(:placeholder-shown):invalid + label {
    top: -7px;
    color: red;
    background-color: white;
}